/*=========================================================
	Devops cloud page CSS 
===========================================================*/
.devops-cloud-page {
    overflow-x: unset;
}

.devops-banner .banner-heading {
    font-size: clamp(30px, 3.5vw, 60px);
    font-weight: 600;
}

.btn.btn-with-arrow.gray-btn {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #fff;
}

.devops-banner .banner-text {
    padding-right: 40px;
}

.font-we-200 {
    font-weight: 200 !important;
}

.devops-banner .devops-right-img img {
    max-width: 550px;
    max-height: 540px;
    width: 100%;
    height: 100%;
}

.devops-tabs-sticky {
    background: #000;
    padding: 0 0 40px;
}

.devops-tabs-wrap {
    /* position: fixed;
    bottom: 35px;
    z-index: 99;
    right: 0;
    left: 0; */
    max-width: 54%;
    margin: 0 auto;
    border: 1px solid #fff;
    background: rgba(177, 177, 177, 65%);
    backdrop-filter: blur(40px);
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.devops-tabs-wrap .devops-tab {
    display: inline-block;
    flex: 0 0 auto;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #000;
    text-decoration: none;
    padding: 18px 18px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
}

.devops-tabs-wrap .devops-tab:hover,
.devops-tabs-wrap .devops-tab.active {
    background: #fff;
}

.devops-strategy {
    padding: 100px 0;
}

.devops-strategy-img img {
    height: 100%;
    aspect-ratio: 660 / 600;
    object-fit: cover;
    border-radius: 28px;
}

.ds-title-wrap p {
    margin-top: 50px;
}

.devops-strategy .title-text-row-vv1 .title-text-col h3 {
    font-size: 32px;
}

.devops-strategy .title-text-row-vv1 .title-text-col p {
    font-size: 16px;
    line-height: normal;
}

.devops-strategy .title-text-row-vv1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.devops-strategy .title-text-row-vv1 .title-text-col {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    border: 1px solid #E4E7EC;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.devops-strategy .ds-left-col {
    gap: 30px;
}

.devops-strategy .ai-specialist {
    background: #000;
    padding: 10px;
    border-radius: 50px;
    margin-top: 80px;
}

.devops-strategy .ds-talk-wrap {
    padding-left: 30px;
    width: calc(100% - 240px);
}

.devops-strategy .ai-specialist-cta .btn {
    padding: 26px;
}


@media (max-width: 1600px) {
    .devops-tabs-wrap .devops-tab {
        font-size: 14px;
        padding: 14px 16px;
    }

    .devops-strategy .title-text-row-vv1 .title-text-col {
        padding: 14px;
    }

    .ds-title-wrap p {
        margin-top: 40px;
    }

    .devops-strategy .title-text-row-vv1 .title-text-col h3 {
        font-size: 26px;
    }

    .devops-strategy .title-text-row-vv1 .title-text-col p {
        font-size: 14px;
    }

    .devops-strategy .ai-specialist-cta .btn {
        padding: 18px;
    }

    .devops-strategy .ai-specialist-left .ai-specialist-img {
        width: 153px;
    }
}

@media (max-width: 1399px) {
    .devops-strategy {
        padding: 80px 0;
    }

    .devops-strategy .title-text-row-vv1 .title-text-col h3 {
        font-size: 20px;
    }

    .devops-strategy .title-text-row-vv1 .title-text-col {
        border-radius: 14px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        -o-border-radius: 14px;
    }

    .devops-strategy-img img {
        border-radius: 18px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        -ms-border-radius: 18px;
        -o-border-radius: 18px;
    }

    .devops-strategy .ds-talk-wrap {
        padding-left: 20px;
        width: calc(100% - 170px);
    }

    .devops-strategy .ai-specialist {
        margin-top: 60px;
    }
}

@media (max-width: 1199px) {
    .devops-banner .banner-text {
        padding-right: 0;
    }

    .devops-tabs-wrap {
        max-width: 60%;
    }

    .ds-title-wrap p {
        margin-top: 24px;
    }

    .devops-strategy .title-text-row-vv1 {
        grid-template-columns: repeat(2, 1fr);
        gap: 6px;
    }

    .ai-specialist-left h3 {
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    .h-lg-100 {
        height: 100% !important;
    }
}

@media (max-width: 991px) {
    .devops-right-img {
        margin: 50px 0 0;
    }

    .devops-banner .devops-right-img img {
        max-width: 400px;
    }

    .devops-tabs-wrap .devops-tab {
        font-size: 13px;
        padding: 13px 13px;
    }

    .devops-tabs-wrap {
        max-width: calc(100% - 150px);
        bottom: 24px;
        padding: 3px;
        gap: 4px;
    }

    .devops-strategy-img {
        margin: 50px 0 0;
    }

    .devops-strategy-img img {
        width: 100%;
    }

    .devops-strategy .ds-talk-wrap {
        padding-left: 0;
        width: 100%;
        text-align: center;
        margin-top: 16px;
    }

    .devops-strategy .ai-specialist-left h3 {
        margin-top: 6px;
    }

    .devops-strategy .ai-specialist {
        margin-top: 20px;
        padding: 30px;
        border-radius: 18px;
    }

    .devops-strategy .ai-specialist-cta .btn {
        padding: 10px 20px 10px;
    }
}

@media (max-width: 767px) {
    .devops-strategy {
        padding: 50px 0;
    }
}

@media (max-width: 575px) {
    .devops-banner .banner-heading br {
        display: none;
    }

    .devops-banner .devops-right-img img {
        max-width: 300px;
    }

    .devops-banner .banner-text>p {
        max-width: 100% !important;
        width: 100%;
    }

    .devops-tabs-wrap {
        max-width: calc(100% - 50px);
    }

    .devops-tabs-wrap .devops-tab {
        font-size: 12px;
    }

    .devops-strategy-img {
        margin: 30px 0 0;
    }

    .devops-strategy .ds-left-col {
        gap: 10px;
    }

    .devops-strategy .title-text-row-vv1 .title-text-col {
        padding: 12px;
        border-radius: 10px;
    }

    .devops-strategy .ai-specialist {
        padding: 20px 16px;
    }
}